/* detail_style.css */
*{margin: 0; padding: 0;}
ul{list-style: none;} /* 리스트 앞에 . 같은거 제거*/
a{text-decoration: none;} /* 링크에 밑줄 같은거 제거*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

/* .wrapper{
    position: relative;
    height: auto;
    min-height: 100%;
    padding-bottom: 90px;

} */

#logo{
    padding-top: 10px;
    padding-left: 20px;
    width: 100px;
    position: absolute;
}

.contents{
    position : relative;
    top : 150px;
    width : 100%;
    font-size : 0.8em;
    min-height: 100%;
    padding:20px 150px; 
    margin-bottom: 80px;
}

 
/* 헤더 영역안에 네비게이션 메뉴 배치 */

nav{
    background-color: #41547c;
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


nav li{
    display: inline;
    margin-left: 30px;
    padding: 10px;
    text-align: center;
}
 
nav li a{color: white;}
 
p{
    font-size : 0.8em; 
    color : black;
    margin-top : 10px;
    padding : 10px;
}
.content-paragraph{
    border: groove; 
    padding : 20px 20px 0px 20px;

}
.refer_table{
    margin-top:10px; 
    font-size : 15px;
    text-align: center;
    border: 1px solid;
    width :100%;
    border-collapse: collapse;
    
}
th,td{
    border-left:1px dashed;
    border-bottom: 1px solid;
    padding : 5px;
}
h3{
    margin-left : 20px;
}

h6{
    padding : 10px 15px;
    background-color: #ececec;
}
/* footer 영역 */
.footer{
    width: 100%;
    height: 60px;

    font-size: 15px;
    text-align: left;
    background-color: #f1f1f1;
    position: absolute;
    transform: translateY(90px);
}
