/* menu bar */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
outline: none;
}

/* strong {
font-weight: 600;
} */

.page {
/* width: 100%;
height: 100%;
background: #fff;
font-family: 'Encode Sans Condensed', sans-serif; */
/* font-weight: 600; */
/* letter-spacing: .03em;
color: #212121; */
width: 100%;
/*height: 100vh;*/
background: white;
font-family: 'ONE-Mobile-Regular', Mobile-Regular;
/* font-weight: 600; */
letter-spacing: .03em;
color: #212121;
position: relative;
height: auto;
min-height: 100%;
}


header {
display: flex;
position: absolute;
width: 100%;
height: 90px;
background: white;
color: black;
justify-content: left;
align-items: center;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}


#nav-container {
position: fixed;
right : 0px;
height: 100vh;
/* width: 100%;  */
pointer-events: none;
font-family: 'ONE-Mobile-Regular', Mobile-Regular;
font-weight: 600;
letter-spacing: .03em;
z-index: 9999;
}
#nav-container .bg {
position: absolute;
top: 90px;
/* left : 0; */
right: 0;
width: 100%; 
height: calc(100% - 70px);
visibility: hidden;
opacity: 0;
transition: .3s;
background: #000;
}
#nav-container:focus-within .bg {
visibility: visible;
opacity: .6;
}
#nav-container * {
visibility: visible;
}

.button {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
-webkit-appearance: none;
border: 0;
background: transparent;
border-radius: 0;
height: 90px;
width: 30px;
cursor: pointer;
pointer-events: auto;
margin-right: 25px;
/* margin-left: 25px; */
touch-action: manipulation;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
display: block;
width: 100%;
height: 3px;
background: #aaa;
transition: .3s;
}
.icon-bar + .icon-bar {
margin-top: 5px;
}

#nav-container:focus-within .button {
pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
margin-top: 90px;
padding: 20px;
width: 200px;
max-width: 300px;
position: absolute;
top: 0;
/* left: 0; */
right :0;
height: calc(100% - 70px);
background: #ececec;
pointer-events: auto;
-webkit-tap-highlight-color: rgba(0,0,0,0);
transform: translateX(100%);
transition: transform .3s;
will-change: transform;
contain: paint;
}

#nav-content ul {
height: 100%;
display: flex;
flex-direction: column;
}

#nav-content li a {
padding: 10px 5px;
display: block;
text-transform: uppercase;
transition: color .1s;
}

#nav-content li a:hover {
color: #BF7497;
}

#nav-content li:not(.small) + .small {
margin-top: auto;
}

.small {
display: flex;
align-self: center;
}

.small a {
font-size: 12px;
font-weight: 400; 
color: #888;
}
.small a + a {
margin-left: 15px;
}

#nav-container:focus-within #nav-content {
transform: none;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*html, body {
height: 100%;
}
*/
a,
a:visited,
a:focus,
a:active,
a:link {
text-decoration: none;
outline: 0;
}

a:hover{
    color : #fdd568;
    font-weight: bold;
}

a {
color: currentColor;
transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
margin: 0;
}

ul {
padding-top: 5px;
list-style: none;
}

img {
vertical-align: middle;
height: auto;
width: 100%;
}
